.body1 { background-image: url('twitter.jpg');}


.body2 {
    background-image: url('twitter.jpg'); background-repeat: no-repeat; background-size: cover ;

  }

  .form1 {
      border: black solid 5px;
      padding-right: 10vw;
      padding-left: 2vw;
      padding-bottom: 2vw;
      margin-left: 40vw;
      margin-right: 65vw;
      padding-top: 2vw;
      font-size: 25px;
      background-color: aqua;
  }
  .signin{margin-left: 45vw;
    margin-right:

  }

  .options {color:rgba(41, 23, 141, 0.973); font-size: 25px; }
  
  .accset {text-align: center;

  }

  .acsul{font-size:40px ;
    ;


  }
